@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/* adcionar o upload de imagens */

.body{
    font-family: "Roboto", sans-serif; !important;
    font-weight: 300;
}



.test{
    font-weight: 400;
    color:black;   
}